<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="cogensoft_api_logger" type="Cogensoft\ApiLogger\Plugin\Webapi\Controller\Rest" />
        <plugin name="company_status_validate" sortOrder="10" />
    </type>
</config>
